{% extends 'blog/base.html' %}


{% block content %}

{% load static %}


<a class="nav-link" href="{% url 'RegistroUsuario' %}">Registrar</a>



      <div id="carouselExampleControls" class="carousel slide main" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'img/recicladores.jpg' %}" class="d-block w-100 altura" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/tipos_de_reciclaje.jpg' %}" class="d-block w-100 altura" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/tipos_de_reciclaje_2.png' %}" class="d-block w-100 altura" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/botellas_plasticas.jpg' %}" class="d-block w-100 altura" alt="...">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      



      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Recicla con nosotros y gana</h5>
              <p class="card-text">Registrate y solicita tu el retiro de tus reciclajes</p>
              <a href="{% url 'post_list' %}" class="btn btn-primary">Registrarse</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Solicita tu servicio de retiro de reciclaje</h5>
              <p class="card-text">Con nosotros acumula puntos y se parte del cambio</p>
              <a href="#" class="btn btn-primary">Solicitar Servicio</a>
            </div>
          </div>
        </div>
      </div>

        
  {% endblock %}