{% extends 'blog/base.html' %}
{% block content %}





      <form class="form-signin" method="POST">
        {% csrf_token %}
          <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Acceda a GoRecycle</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Correo electronico" required autofocus>
          <br>
          <div class="row">
              <div class="col-lg-12">                      
                <label for="inputPassword" class="sr-only">Password</label>
                <div class="input-group">
                  <input id="txtPassword" type="password" name="password" class="form-control" placeholder="Ingrese una contraseña" minlength="8" required>
                  <div class="input-group-append">
                    <button id="showPassword" class="btn btn-third " type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                  </div>
                </div>
              </div>
            </div> 
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Recordarme       /   <a href="#">Recuperar Contraseña</a>
            </label>
           
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
         
        </form>
  {% endblock %}      
       