{% extends 'blog/base.html' %}

{% block content %}


    <div>
            <div class ="container">
                    <h1 class="h3 mb-3 font-weight-normal">Registro a GoRecycle</h1>
                    <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Usuario
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                            <a class="dropdown-item" href="#">Solicitante</a>
                            <a class="dropdown-item" href="#">Transporte</a>
                            <a class="dropdown-item" href="#">Reciclador</a>
                            <a class="dropdown-item" href="#">Administrador</a>
                    </div>
            </div> 


            <form action="" method="POST"class="form-group" id=registrar>
                    {% csrf_token %}
                    
                    
                    <div class ="form-group">
                        <label for="email">Correo Electronico</label>
                        <input type="text" class="form-control" name="correo" placeholder="email@example.com"  required>
                      </div>
                      <div class="form-group">
                          <label for="run">Run</label>
                          <input type="text" value="" class="form-control" name="run" placeholder="12.345.678-9" minlength="11" required>
                      </div>
                      <div class="form-group">
                          <div class="form-row">
                              <div class="col">
                                  <label for="name">Nombres </label>
                                <input type="text" class="form-control" name="nombres" placeholder="Thor" minlength="3" required> 
                              </div>
                              <div class="col">
                                  <label for="name">Apellidos</label>
                                <input type="text" class="form-control" name="apellidos" placeholder="Odinson" minlength="3" required>
                              </div>
                            </div>              
                      </div>
                      <div class="form-group">
                          <label for="telefono">Telefono</label>
                          <input type="text"  class="form-control" name="telefono" placeholder="Ingrese su telefono ej.987654321" minlength="9" required>
                      </div>
                      <div class="form-group">
                          <label for="bday">Fecha Nacimiento:</label>
                          <input type="date" class="form-control" name="fnacimiento" oninput="validarEdad()" required>
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Subir Foto de Perfil</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01">
                          <label class="custom-file-label" for="inputGroupFile01">Elegir Archivo</label>
                        </div>
                      </div>

  
                      <div class="form-group">
                          <div class="form-row">
                              <div class="col">
                                  <label for="city">Region</label>
                                    <input id="regiones"type="text" class="form-control" nombre="region"  list="region" placeholder="--Seleccione su region">
                                     <datalist id="region">
                                       <option value="Metropolitana"></option>
                                       <option value="Araucania"></option>
                                     </datalist>
                                
                              </div>
                              <div class="col">
                                  <label for="city">Comuna</label>
                                   <input id="comunas"type="text" class="form-control" nombre="comuna" list="comuna" placeholder="--Seleccione su Comuna">
                                    <datalist id="comuna">
                                     <option value="Quilicura"></option>
                                     <option value="Puente Alto"></option>
                                     <option value="Huechuraba"></option>
                                     <option value="Conchali"></option>
                                   </datalist>
                              </div>
                            </div>
                         </div>
      
                        <div class="form-group">
                            <label for="direccion">Direccion</label>
                            <input type="text" value="" class="form-control" name="direccion" placeholder="Ingrese su direccion" minlength="10" ¿>
                        </div>
                    
                      <div class="row">
                          <div class="col-md-5">                      
                            <label>Ingrese contraseña </label>
                            <div class="input-group">
                              <input id="txtPassword" type="password" name="password" class="form-control" placeholder="Ingrese una contraseña" minlength="8" maxlength="12" required>
                              <div class="input-group-append">
                                <button id="showPassword" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                              </div>
                            </div>
                          </div>
                        </div>                  
                      <div  class="row">
                          <div class="col-md-5">                      
                            <label> Reingrese contraseña </label>
                            <div class="input-group">
                              <input id="txtPassword2" type="password" name="password2" class="form-control" placeholder="Reingrese la contraseña" minlength="8" maxlength="12" required>
                              <div class="input-group-append">
                                <button id="showPassword2" class="btn btn-primary" type="button" onclick="mostrarPassword2()"> <span class="fa fa-eye-slash icon"></span> </button>
                              </div>
                            </div>
                          </div>
                        </div>
                     
                        <br>
                    <button type="reset" class="btn btn-warning" >Limpiar</button>
                    <button type="submit" class="btn btn-success">Registrar</button>                
                                           
                  
                 </form>



     </div>
   
    <h1>Listado clientes nuevos</h1>
    <ul>

            
            {% for post in posts %}
            <li>{{post.correo}} - {{post.run}} - {{post.nombres}} - {{post.apellidos}}</li>
            {% endfor %}
            
        </ul>
{% endblock %}